<a href="https://colab.research.google.com/github/dazzerz/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-8/blob/main/Study_Case_Kelompok_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
%matplotlib inline
plt.style.use('bmh'); sns.set()

In [22]:
df = pd.read_excel('https://github.com/dazzerz/Case-Study-03-Data-Mining-UIN-Ganjil-2022-Kelompok-8/blob/main/data/Kasus-AR-MBA-Ganjil-2022-UIN.xlsx?raw=true', sheet_name='Transaksi')
df

    ID Transaksi    Tanggal Konsumen  ID Produk Nama Produk      Merek  Jumlah
0            1.0 2022-07-01    Mr. A          1        Roti   Sri Roti       2
1            NaN        NaT      NaN          2   Air Minum      Aquos       1
2            NaN        NaT      NaN         11  Mie Instan     Indomi       2
3            NaN        NaT      NaN         12  Mie Instan   Mi Sedap       1
4            2.0 2022-07-01    Mr. B          2   Air Minum      Aquos       1
5            NaN        NaT      NaN          6       Snack      Chiki       2
6            NaN        NaT      NaN          3        Roti  Prambanan       1
7            NaN        NaT      NaN          5     Shampoo      Clean       1
8            3.0 2022-07-02    Mr. C          4       Sabun     Lifboy       1
9            NaN        NaT      NaN          5     Shampoo      Clean       1
10           NaN        NaT      NaN          9       Rokok  Malioboro       1
11           4.0 2022-07-02    Mr. B          1        Roti   Sri Roti       2
12           NaN        NaT      NaN         10   Air Minum      Sprit       2
13           NaN        NaT      NaN          8       Snack     Citata       3
14           NaN        NaT      NaN          7       Sabun       Luks       1
15           NaN        NaT      NaN         12  Mie Instan   Mi Sedap       2
16           5.0 2022-07-03    Mr. A          6       Snack      Chiki       1
17           NaN        NaT      NaN         10   Air Minum      Sprit       2
18           6.0 2022-07-03    Mr. D         11  Mie Instan     Indomi       2
19           NaN        NaT      NaN          4       Sabun     Lifboy       1
20           NaN        NaT      NaN          5     Shampoo      Clean       1
21           7.0 2022-07-04    Mr. Z         10   Air Minum      Sprit       1
22           NaN        NaT      NaN          9       Rokok  Malioboro       1
23           8.0 2022-07-04    Mr. B          6       Snack      Chiki       1
24           NaN        NaT      NaN          7       Sabun       Luks       1
25           NaN        NaT      NaN          5     Shampoo      Clean       1
26           NaN        NaT      NaN         11  Mie Instan     Indomi       3
27           9.0 2022-07-05    Mr. X          1        Roti   Sri Roti       2
28           NaN        NaT      NaN          2   Air Minum      Aquos       1
29           NaN        NaT      NaN          4       Sabun     Lifboy       1
30           NaN        NaT      NaN          6       Snack      Chiki       2
31           NaN        NaT      NaN          9       Rokok  Malioboro       1
32           NaN        NaT      NaN         11  Mie Instan     Indomi       2
33          10.0 2022-07-05    Mr. T          3        Roti  Prambanan       1
34           NaN        NaT      NaN         10   Air Minum      Sprit       2
35           NaN        NaT      NaN          6       Snack      Chiki       2
36          11.0 2022-07-06    Mr. P          3        Roti  Prambanan       2
37           NaN        NaT      NaN          9       Rokok  Malioboro       1
38          12.0 2022-07-06    Mr. G          4       Sabun     Lifboy       2
39           NaN        NaT      NaN          5     Shampoo      Clean       1
40           NaN        NaT      NaN         12  Mie Instan   Mi Sedap       2
41           NaN        NaT      NaN         11  Mie Instan     Indomi       1
42          13.0 2022-07-07    Mr. X          1        Roti   Sri Roti       1
43           NaN        NaT      NaN          8       Snack     Citata       2
44           NaN        NaT      NaN         10   Air Minum      Sprit       1
45          14.0 2022-07-07     Mr.Y          7       Sabun       Luks       2
46           NaN        NaT      NaN          5     Shampoo      Clean       2
47           NaN        NaT      NaN          6       Snack      Chiki       1
48          15.0 2022-07-08    Mr. F          9       Rokok  Malioboro       1
49          16.0 2022-08-02    Mr. J          2   Air Minum      Aquos       2
50          17.0 2022-09-05    Mr. X          1        Roti   Sri Roti       2
51           NaN        NaT      NaN          2   Air Minum      Aquos       1
52           NaN        NaT      NaN          4       Sabun     Lifboy       1
53           NaN        NaT      NaN          6       Snack      Chiki       2
54          18.0 2022-10-02    Mr. B          1        Roti   Sri Roti       2
55           NaN        NaT      NaN         10   Air Minum      Sprit       2

In [23]:
#Preprocessing
#Mengatasi MV
df.ffill(inplace = True)
#Mengubah type data variable ID Transaksi menjadi str
df['ID Transaksi'] = df['ID Transaksi'].astype('str')
df['ID Produk'] = df['ID Produk'].astype('str')
#Menghapus 'koma' pada variable ID Transaksi dan membulatkan nilainya
df['ID Transaksi'] = df['ID Transaksi'].str.replace('.', '')
df['ID Transaksi'] = df['ID Transaksi'].str.replace('0', '')
df

   ID Transaksi    Tanggal Konsumen ID Produk Nama Produk      Merek  Jumlah
0             1 2022-07-01    Mr. A         1        Roti   Sri Roti       2
1             1 2022-07-01    Mr. A         2   Air Minum      Aquos       1
2             1 2022-07-01    Mr. A        11  Mie Instan     Indomi       2
3             1 2022-07-01    Mr. A        12  Mie Instan   Mi Sedap       1
4             2 2022-07-01    Mr. B         2   Air Minum      Aquos       1
5             2 2022-07-01    Mr. B         6       Snack      Chiki       2
6             2 2022-07-01    Mr. B         3        Roti  Prambanan       1
7             2 2022-07-01    Mr. B         5     Shampoo      Clean       1
8             3 2022-07-02    Mr. C         4       Sabun     Lifboy       1
9             3 2022-07-02    Mr. C         5     Shampoo      Clean       1
10            3 2022-07-02    Mr. C         9       Rokok  Malioboro       1
11            4 2022-07-02    Mr. B         1        Roti   Sri Roti       2
12            4 2022-07-02    Mr. B        10   Air Minum      Sprit       2
13            4 2022-07-02    Mr. B         8       Snack     Citata       3
14            4 2022-07-02    Mr. B         7       Sabun       Luks       1
15            4 2022-07-02    Mr. B        12  Mie Instan   Mi Sedap       2
16            5 2022-07-03    Mr. A         6       Snack      Chiki       1
17            5 2022-07-03    Mr. A        10   Air Minum      Sprit       2
18            6 2022-07-03    Mr. D        11  Mie Instan     Indomi       2
19            6 2022-07-03    Mr. D         4       Sabun     Lifboy       1
20            6 2022-07-03    Mr. D         5     Shampoo      Clean       1
21            7 2022-07-04    Mr. Z        10   Air Minum      Sprit       1
22            7 2022-07-04    Mr. Z         9       Rokok  Malioboro       1
23            8 2022-07-04    Mr. B         6       Snack      Chiki       1
24            8 2022-07-04    Mr. B         7       Sabun       Luks       1
25            8 2022-07-04    Mr. B         5     Shampoo      Clean       1
26            8 2022-07-04    Mr. B        11  Mie Instan     Indomi       3
27            9 2022-07-05    Mr. X         1        Roti   Sri Roti       2
28            9 2022-07-05    Mr. X         2   Air Minum      Aquos       1
29            9 2022-07-05    Mr. X         4       Sabun     Lifboy       1
30            9 2022-07-05    Mr. X         6       Snack      Chiki       2
31            9 2022-07-05    Mr. X         9       Rokok  Malioboro       1
32            9 2022-07-05    Mr. X        11  Mie Instan     Indomi       2
33            1 2022-07-05    Mr. T         3        Roti  Prambanan       1
34            1 2022-07-05    Mr. T        10   Air Minum      Sprit       2
35            1 2022-07-05    Mr. T         6       Snack      Chiki       2
36           11 2022-07-06    Mr. P         3        Roti  Prambanan       2
37           11 2022-07-06    Mr. P         9       Rokok  Malioboro       1
38           12 2022-07-06    Mr. G         4       Sabun     Lifboy       2
39           12 2022-07-06    Mr. G         5     Shampoo      Clean       1
40           12 2022-07-06    Mr. G        12  Mie Instan   Mi Sedap       2
41           12 2022-07-06    Mr. G        11  Mie Instan     Indomi       1
42           13 2022-07-07    Mr. X         1        Roti   Sri Roti       1
43           13 2022-07-07    Mr. X         8       Snack     Citata       2
44           13 2022-07-07    Mr. X        10   Air Minum      Sprit       1
45           14 2022-07-07     Mr.Y         7       Sabun       Luks       2
46           14 2022-07-07     Mr.Y         5     Shampoo      Clean       2
47           14 2022-07-07     Mr.Y         6       Snack      Chiki       1
48           15 2022-07-08    Mr. F         9       Rokok  Malioboro       1
49           16 2022-08-02    Mr. J         2   Air Minum      Aquos       2
50           17 2022-09-05    Mr. X         1        Roti   Sri Roti       2
51           17 2022-09-05    Mr. X         2   Air Minum      Aquos       1
52           17 2022-09-05    Mr. X         4       Sabun     Lifboy       1
53           17 2022-09-05    Mr. X         6       Snack      Chiki       2
54           18 2022-10-02    Mr. B         1        Roti   Sri Roti       2
55           18 2022-10-02    Mr. B        10   Air Minum      Sprit       2

In [24]:
basket = df
basket = basket.groupby(['ID Transaksi', 'Nama Produk'])['Jumlah']
basket.head()

0     2
1     1
2     2
3     1
4     1
5     2
6     1
7     1
8     1
9     1
10    1
11    2
12    2
13    3
14    1
15    2
16    1
17    2
18    2
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    3
27    2
28    1
29    1
30    2
31    1
32    2
33    1
34    2
35    2
36    2
37    1
38    2
39    1
40    2
41    1
42    1
43    2
44    1
45    2
46    2
47    1
48    1
49    2
50    2
51    1
52    1
53    2
54    2
55    2
Name: Jumlah, dtype: int64

In [25]:
basket = basket.sum().unstack().reset_index().fillna(0).set_index('ID Transaksi')
basket.head(5)

Nama Produk   Air Minum  Mie Instan  Rokok  Roti  Sabun  Shampoo  Snack
ID Transaksi
1                   3.0         3.0    0.0   3.0    0.0      0.0    2.0
11                  0.0         0.0    1.0   2.0    0.0      0.0    0.0
12                  0.0         3.0    0.0   0.0    2.0      1.0    0.0
13                  1.0         0.0    0.0   1.0    0.0      0.0    2.0
14                  0.0         0.0    0.0   0.0    2.0      2.0    1.0

In [26]:
def integer(x):
    if x <= 0:
        return 0
    if x >= 1 :
        return 1
    
basket_sets = basket.applymap(integer)
basket_sets

Nama Produk   Air Minum  Mie Instan  Rokok  Roti  Sabun  Shampoo  Snack
ID Transaksi
1                     1           1      0     1      0        0      1
11                    0           0      1     1      0        0      0
12                    0           1      0     0      1        1      0
13                    1           0      0     1      0        0      1
14                    0           0      0     0      1        1      1
15                    0           0      1     0      0        0      0
16                    1           0      0     0      0        0      0
17                    1           0      0     1      1        0      1
18                    1           0      0     1      0        0      0
2                     1           0      0     1      0        1      1
3                     0           0      1     0      1        1      0
4                     1           1      0     1      1        0      1
5                     1           0      0     0      0        0      1
6                     0           1      0     0      1        1      0
7                     1           0      1     0      0        0      0
8                     0           1      0     0      1        1      1
9                     1           1      1     1      1        0      1

In [27]:
basket_sets.columns

Index(['Air Minum', 'Mie Instan', 'Rokok', 'Roti', 'Sabun', 'Shampoo',
       'Snack'],
      dtype='object', name='Nama Produk')

In [28]:
basket_sets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 1 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Air Minum   17 non-null     int64
 1   Mie Instan  17 non-null     int64
 2   Rokok       17 non-null     int64
 3   Roti        17 non-null     int64
 4   Sabun       17 non-null     int64
 5   Shampoo     17 non-null     int64
 6   Snack       17 non-null     int64
dtypes: int64(7)
memory usage: 1.1+ KB

In [29]:
basket_sets.index

Index(['1', '11', '12', '13', '14', '15', '16', '17', '18', '2', '3', '4', '5',
       '6', '7', '8', '9'],
      dtype='object', name='ID Transaksi')

In [30]:
basket_sets.iloc[0].sum()

4

In [31]:
frequent_itemsets = apriori(basket_sets, min_support=0.06, use_colnames=True)
frequent_itemsets.sort_values(by='support', ascending=False, na_position='last', inplace = True)
frequent_itemsets

     support                                     itemsets
0   0.588235                                  (Air Minum)
6   0.529412                                      (Snack)
3   0.470588                                       (Roti)
4   0.470588                                      (Sabun)
9   0.411765                            (Roti, Air Minum)
11  0.411765                           (Snack, Air Minum)
27  0.352941                     (Roti, Snack, Air Minum)
5   0.352941                                    (Shampoo)
1   0.352941                                 (Mie Instan)
19  0.352941                                (Roti, Snack)
13  0.294118                          (Sabun, Mie Instan)
21  0.294118                               (Snack, Sabun)
20  0.294118                             (Shampoo, Sabun)
2   0.294118                                      (Rokok)
15  0.235294                          (Snack, Mie Instan)
25  0.176471               (Mie Instan, Snack, Air Minum)
38  0.176471              (Roti, Snack, Sabun, Air Minum)
36  0.176471         (Mie Instan, Roti, Snack, Air Minum)
33  0.176471                         (Roti, Snack, Sabun)
32  0.176471                   (Snack, Sabun, Mie Instan)
31  0.176471                 (Shampoo, Sabun, Mie Instan)
30  0.176471                    (Roti, Snack, Mie Instan)
28  0.176471                    (Snack, Sabun, Air Minum)
14  0.176471                        (Shampoo, Mie Instan)
26  0.176471                     (Roti, Sabun, Air Minum)
12  0.176471                           (Roti, Mie Instan)
23  0.176471                (Mie Instan, Roti, Air Minum)
22  0.176471                             (Snack, Shampoo)
7   0.176471                      (Mie Instan, Air Minum)
10  0.176471                           (Sabun, Air Minum)
18  0.176471                                (Roti, Sabun)
24  0.117647               (Mie Instan, Sabun, Air Minum)
29  0.117647                    (Roti, Sabun, Mie Instan)
8   0.117647                           (Rokok, Air Minum)
34  0.117647                      (Snack, Shampoo, Sabun)
35  0.117647         (Mie Instan, Roti, Sabun, Air Minum)
17  0.117647                               (Sabun, Rokok)
37  0.117647        (Mie Instan, Snack, Sabun, Air Minum)
16  0.117647                                (Roti, Rokok)
39  0.117647             (Roti, Snack, Sabun, Mie Instan)
40  0.117647  (Roti, Sabun, Snack, Air Minum, Mie Instan)

In [32]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.sort_values(by='lift', ascending=False, na_position='last', inplace = True)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
115,"(Sabun, Air Minum)","(Roti, Mie Instan)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
170,"(Mie Instan, Air Minum)","(Roti, Snack, Sabun)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
160,"(Mie Instan, Snack, Air Minum)","(Roti, Sabun)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
161,"(Roti, Sabun)","(Mie Instan, Snack, Air Minum)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
157,"(Snack, Sabun, Air Minum)","(Roti, Mie Instan)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
164,"(Roti, Mie Instan)","(Snack, Sabun, Air Minum)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
166,"(Sabun, Air Minum)","(Roti, Snack, Mie Instan)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
151,"(Roti, Snack, Sabun)","(Mie Instan, Air Minum)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
155,"(Roti, Snack, Mie Instan)","(Sabun, Air Minum)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588
114,"(Roti, Sabun)","(Air Minum, Mie Instan)",0.176471,0.176471,0.117647,0.666667,3.777778,0.086505,2.470588